extends layout

block content
  head
    link(rel='stylesheet', href='/css/error.css')

  body
    div(class='wrapper')
      p
      |Oops, there is an error displaying that page. Maybe try going back to the
      |&nbsp
      a(href='/') homepage?
